<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  
    <a class="navbar-item" href="/">
      <img src="../assets/images/logo_extended_black.svg">
    </a>
    
  
    <a role="button" class="navbar-burger" (click)="toggleMenu()" [ngClass]="{'is-active': isBurgerOpen}"
      aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': isBurgerOpen}">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/" (click)="toggleMenu()">
        Home
      </a>
      
      <a class="navbar-item" routerLink="/iscrizioni" (click)="toggleMenu()">
        Iscrizioni
      </a>
      <!--
      <a class="navbar-item" routerLink="/scores" (click)="toggleMenu()">
        Punteggi
      </a>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info" href="https://docs.google.com/forms/d/e/1FAIpQLSf3bw3ZhlCadrZWLT4tJZQppzv6SO2fe8bSCk4TlmFx-EdpuQ/viewform" target="_blank" (click)="toggleMenu()">
            <strong>Iscriviti!</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="main">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Made with <i class="fa-solid fa-heart"></i> by <a target="blank"
        href="https://www.linkedin.com/in/davide-bulbarelli-2247ba122/">Davide Bulbarelli</a>.
    </p>
  </div>
</footer>