.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}


.main {
    margin-top: 50px;
}

@media screen and (min-width: 1025px) {
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block !important;
    }
    .navbar-item.is-hoverable:focus-within .navbar-dropdown {
        display: none;
    }
}