<section class="hero is-halfheight bg-image">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-size-1 has-text-primary-dark shadow">
                FestAntonio
            </p>
            <p class="subtitle is-size-3 has-text-white">
                <span class="icon mr-2">
                    <i class="fa-solid fa-calendar"></i>
                </span>
                <span>Dal 6 al 13 Giugno 2022!</span>
            </p>
            <a class="button is-large is-info"
                href="https://docs.google.com/forms/d/e/1FAIpQLScWabtO2mgcpSlJvK08YILPseFynzz0g-v6NzbMiWH7PWErzg/viewform"
                target="_blank">
                <span class="icon is-medium">
                    <i class="fa-solid fa-rocket"></i>
                </span>
                <strong>Partecipa!</strong>
            </a>
            <div class="mt-2">
                <p class="subtitle is-size-4 has-text-white">
                    Seguici sui social!
                </p>
                <a href="https://www.instagram.com/festantonio22" target="blank" id="insta" class="social-icon m-3">
                    <span class="icon is-large">
                        <i class="fa-brands fa-instagram fa-3x"></i>
                    </span>
                </a>
                <a href="https://www.facebook.com/festAntonio2022" target="blank" id="fb" class="social-icon m-3">
                    <span class="icon is-large">
                        <i class="fa-brands fa-facebook fa-3x"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section is-small">
    <h1 class="title has-text-centered">Di cosa si tratta</h1>
    <div class="columns">
        <div class="column is-one-quarter">
            <figure class="image is-flex is-justify-content-center">
                <img src="../../../assets/images/logo_color.PNG" class="desc-image">
            </figure>
        </div>
        <div class="column subtitle">
            <p>FestAntonio è un nuovo evento a Porto Mantovano che si terrà presso la Parrocchia di Sant'Antonio
                dal 6 al 13 Giugno 2022.</p>
            <p>Sono previsti vari tornei sportivi, tra cui calcetto, calcio saponato, acqua volley e idrofobia.
                Inoltre ci saranno stand gastronomici e musica dal vivo per ravvivare le serate in compagnia.
            </p>
            <p>Tutti i proventi verranno destinati ai campi estivi della parrocchia di Sant'Antonio.</p>
        </div>
    </div>
</section>
<section class="section is-small">
    <h1 class="title has-text-centered is-primary">I tornei!</h1>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical is-6">
            <div class="tile is-child">
                <article class="tile is-child box">
                    <p class="title icon-text is-flex is-align-items-center">
                        <span class="icon">
                            <i class="fa-solid fa-futbol"></i>
                        </span>
                        <span>Calcio a 7</span>
                    </p>
                    <p class="subtitle mt-1 short-desc">
                        Il re di tutti i tornei, “El Clàsico”. Torneo di calcio a 7 suddiviso in gironi, quarti,
                        semifinale e finale.
                        Vieni a dimostrare chi è il re di Porto a furia di gol e parate laser.
                    </p>
                    <button class="button is-link is-outlined ml-auto mr-0 is-block" routerLink="/game/calcio">Scopri
                        di più</button>
                </article>
            </div>
            <div class="tile is-child">
                <article class="tile is-child box">
                    <p class="title icon-text is-flex is-align-items-center">
                        <span class="icon">
                            <i class="fa-solid fa-soap"></i>
                        </span>
                        <span>Calcio saponato</span>
                    </p>
                    <p class="subtitle mt-1 short-desc">
                        L’intera area di gioco è cosparsa di acqua e sapone, accentuando così sia la difficoltà che la
                        bellezza di questo gioco: cercare il gol con un equilibrio instabile.
                        Il gioco del calcio saponato è pratico, divertente, e soprattutto SICURO grazie ad arbitri
                        specializzati e in carriera da oltre 20 anni.
                    </p>
                    <button class="button is-link is-outlined ml-auto mr-0 is-block" routerLink="/game/saponato">Scopri
                        di più</button>
                </article>
            </div>
        </div>
        <div class="tile is-parent is-vertical is-6">
            <div class="tile is-child">
                <article class="tile is-child box">
                    <p class="title icon-text is-flex is-align-items-center">
                        <span class="icon">
                            <i class="fa-solid fa-volleyball"></i>
                        </span>
                        <span>Acqua volley</span>
                    </p>
                    <p class="subtitle mt-1 short-desc">
                        L’acqua Volley è uno sport giocato in una superficie d’acqua da due squadre, divise da una rete,
                        e composte ciascuna da 5 atleti misti. Ci si sfida a colpi di bagher, schiacciate e tuffi in un
                        campo gonfiabile di 20 metri x 10 metri e con l’acqua che arriva alle ginocchia.
                    </p>
                    <button class="button is-link is-outlined ml-auto mr-0 is-block" routerLink="/game/volley">Scopri
                        di più</button>
                </article>
            </div>
            <div class="tile is-child">
                <article class="tile is-child box">
                    <p class="title icon-text is-flex is-align-items-center">
                        <span class="icon">
                            <i class="fa-solid fa-droplet"></i>
                        </span>
                        <span>Idrofobia</span>
                    </p>
                    <p class="subtitle mt-1 short-desc">
                        Gioco in cui i partecipanti dovranno "ammacquare" il proprio obiettivo usando una pistola
                        d'acqua.
                        L'ultimo che rimane in gioco o chi "ammacqua" più persone, vince.
                    </p>
                    <button class="button is-link is-outlined ml-auto mr-0 is-block" routerLink="/game/idrofobia">
                        Scopri di più
                    </button>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="section is-small" id="faq-section" #faq>
    <app-faq></app-faq>
</section>
<section class="section">
    <h1 class="title has-text-centered">I nostri sponsor!</h1>
    <h2 class="subtitle has-text-centered">
        Ecco un elenco dei nostri sponsor ufficiali, <strong>clicca</strong> sui loghi per visitare le loro pagine web!
    </h2>
    <div class="container is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
        <figure class="image sponsor" *ngFor="let sp of sponsors">
            <a [href]="sp.website" target="_blank">
                <img [src]="'../../../assets/images/sponsors/' + sp.image">
            </a>
        </figure>
    </div>
</section>
